/*scss/index.scss*/
/*settings/index.scss*/
/*_reset.scss*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  color: currentColor;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

input,
select {
  border: none;
  outline: none;
}

/* _fonts.scss*/
/* _vars.scss*/
/* _mixins.scss*/
/* _global.scss*/
body {
  position: relative;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 50px;
  color: #000;
  background: #fff;
}
body.dark {
  color: #fff;
  background: #333;
}
body.hidden {
  overflow: hidden;
}
@media (min-width: 1152px) {
  body {
    padding-top: 80px;
  }
}

.container {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1152px) {
  .container {
    padding: 0 110px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 165px;
  }
}

::-webkit-scrollbar {
  display: none;
}

/*components/index.scss*/
/* preloader.scss */
.preloader {
  display: none;
}
.preloader.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #fff;
}
.preloader__image {
  animation: bounceIn 1s infinite;
}
@keyframes bounceIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* _progressBar.scss */
.progress-bar {
  position: fixed;
  top: 48px;
  z-index: 2;
  width: 0;
  height: 2px;
  background: #222;
}
@media (min-width: 1152px) {
  .progress-bar {
    top: 78px;
  }
}

/* _header.scss*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: currentColor;
  fill: currentColor;
  background: #fff;
  border-bottom: 2px #E5E5E5 solid;
}
.header.dark {
  color: #fff;
  background: #333;
  fill: #fff;
}
@media (min-width: 1152px) {
  .header {
    height: 80px;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  background: inherit;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .header__wrapper {
    padding: 0;
    max-width: 690px;
  }
}
@media (min-width: 1152px) {
  .header__wrapper {
    max-width: 930px;
  }
}
@media (min-width: 1440px) {
  .header__wrapper {
    max-width: 1110px;
  }
}
.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 1152px) {
  .header__nav {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.header__logo {
  display: block;
  height: 30px;
}
.header__logo svg {
  height: 100%;
  width: 100%;
}
@media (min-width: 1152px) {
  .header__logo {
    height: 40px;
  }
}
.header__menu {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  opacity: 0;
  background: #fff;
  transition: transform 0.5s, opacity 0.2s ease-out;
  transform: translateY(-110%);
}
.header__menu.dark {
  color: #fff;
  background: #333;
}
.header__menu.active {
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s ease-in;
  transform: translateY(0);
}
@media (min-width: 1152px) {
  .header__menu {
    position: static;
    transform: translateY(0);
    flex-direction: row;
    justify-content: flex-end;
    opacity: 1;
    transition: transform 0.5s;
  }
}
.header__item {
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #E5E5E5;
  padding-left: 15px;
}
@media (min-width: 1152px) {
  .header__item {
    flex-basis: content;
    margin-left: 40px;
    height: 100%;
    border: none;
    text-align: right;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .header__item {
    margin-left: 50px;
  }
}
@media (min-width: 1152px) {
  .header__item button {
    overflow: hidden;
    font-size: 20px;
  }
  .header__item button::after {
    content: "";
    display: block;
    height: 2px;
    background: currentColor;
    transition: transform 0.5s;
    transform: translateX(-110%);
  }
  .header__item button:hover::after {
    transition: transform 0.5s;
    transform: translateX(0);
  }
}
.header__item span {
  font-size: 24px;
}
@media (min-width: 768px) {
  .header__item span {
    font-size: 20px;
  }
}
.header__theme {
  height: 100%;
}
@media (min-width: 1152px) {
  .header__theme {
    margin-left: 40px;
  }
}
@media (min-width: 1440px) {
  .header__theme {
    margin-left: 50px;
  }
}
.header__burger {
  position: relative;
  width: 30px;
  height: 20px;
  margin-left: 20px;
}
@media (min-width: 1152px) {
  .header__burger {
    display: none;
  }
}
.header__burger span {
  display: block;
  height: 2px;
  width: 100%;
  background: #000;
  transition: background 0.2s;
}
.header__burger span::before, .header__burger span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  background: inherit;
  transition: transform 0.5s;
}
.header__burger span::before {
  top: 0;
}
.header__burger span::after {
  bottom: 0;
}
.header__burger.dark span {
  background: #fff;
}
.header__burger.active span {
  background: transparent;
  transition: background 0.2s;
}
.header__burger.active span::before {
  background: #000;
  top: 50%;
  transition: transform 0.5s;
  transform: translateY(-50%) rotate(45deg);
}
.header__burger.active span::after {
  background: #000;
  top: 50%;
  transition: transform 0.5s;
  transform: translateY(-50%) rotate(-45deg);
}
.header__burger.active.dark span {
  background: transparent;
}
.header__burger.active.dark span::before {
  background: #fff;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header__burger.active.dark span::after {
  background: #fff;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* _download.scss */
.download__wrapper {
  margin: 30px 0;
}
@media (min-width: 768px) {
  .download__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1152px) {
  .download__wrapper {
    margin: 40px 0;
  }
}
@media (min-width: 1440px) {
  .download__wrapper {
    margin: 50px 0;
  }
}
@media (min-width: 768px) {
  .download__body {
    width: 50%;
  }
}
.download__title {
  font-weight: 700;
  font-size: 30px;
}
@media (min-width: 1152px) {
  .download__title {
    font-size: 42px;
  }
}
@media (min-width: 1440px) {
  .download__title {
    font-size: 56px;
  }
}
.download__copy {
  margin-top: 20px;
}
@media (min-width: 1152px) {
  .download__copy {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .download__copy {
    margin-top: 30px;
    font-size: 20px;
  }
}
.download__links {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .download__links {
    display: flex;
  }
}
.download__link {
  display: block;
  height: 44px;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .download__link:last-of-type {
    margin-left: 20px;
  }
}
.download__image {
  display: flex;
  margin-top: 30px;
  overflow: hidden;
  border: 1px solid #aaa;
  border-radius: 20px;
}
.download__image img {
  object-fit: cover;
  transition: all 0.5s;
}
@media (min-width: 768px) {
  .download__image {
    width: 50%;
    margin-top: 0;
    margin-left: 30px;
  }
  .download__image img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
}
@media (min-width: 1152px) {
  .download__image {
    margin-left: 40px;
  }
}
@media (min-width: 1152px) {
  .download__image {
    margin-left: 110px;
  }
}

/* warrantly.scss */
.warranty__wrapper {
  margin: 30px 0;
}
@media (min-width: 768px) {
  .warranty__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1152px) {
  .warranty__wrapper {
    margin: 40px 0;
  }
}
@media (min-width: 1440px) {
  .warranty__wrapper {
    margin: 50px 0;
  }
}
@media (min-width: 768px) {
  .warranty__body {
    width: 50%;
    margin-left: 30px;
  }
}
@media (min-width: 1152px) {
  .warranty__body {
    margin-left: 40px;
  }
}
@media (min-width: 1440px) {
  .warranty__body {
    margin-left: 110px;
  }
}
.warranty__title {
  font-weight: 700;
  font-size: 30px;
}
@media (min-width: 1152px) {
  .warranty__title {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .warranty__title {
    font-size: 40px;
  }
}
.warranty__copy {
  margin-top: 20px;
}
@media (min-width: 1152px) {
  .warranty__copy {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .warranty__copy {
    margin-top: 30px;
    font-size: 20px;
  }
}
.warranty__image {
  display: flex;
  margin-top: 30px;
  overflow: hidden;
  border: 1px solid #aaa;
  border-radius: 20px;
}
.warranty__image img {
  object-fit: cover;
  transition: all 0.5s;
}
@media (min-width: 768px) {
  .warranty__image {
    order: -1;
    width: 50%;
    margin-top: 0;
  }
  .warranty__image img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
}

/* care.scss */
.care__wrapper {
  margin: 30px 0;
}
@media (min-width: 768px) {
  .care__wrapper {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1152px) {
  .care__wrapper {
    margin: 40px 0;
  }
}
@media (min-width: 1440px) {
  .care__wrapper {
    margin: 50px 0;
  }
}
@media (min-width: 768px) {
  .care__body {
    width: 50%;
  }
}
.care__title {
  font-weight: 700;
  font-size: 30px;
}
@media (min-width: 1152px) {
  .care__title {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .care__title {
    font-size: 40px;
  }
}
.care__copy {
  margin-top: 20px;
}
@media (min-width: 1152px) {
  .care__copy {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .care__copy {
    margin-top: 30px;
    font-size: 20px;
  }
}
.care__image {
  display: flex;
  margin-top: 30px;
  border: 1px solid #aaa;
  border-radius: 20px;
  overflow: hidden;
}
.care__image img {
  object-fit: cover;
  transition: all 0.5s;
}
@media (min-width: 768px) {
  .care__image {
    width: 50%;
    margin-top: 0;
    margin-left: 30px;
  }
  .care__image img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
}
@media (min-width: 768px) {
  .care__image {
    width: 50%;
    margin-top: 0;
    margin-left: 30px;
  }
  .care__image img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
}
@media (min-width: 1152px) {
  .care__image {
    margin-left: 40px;
  }
}
@media (min-width: 1152px) {
  .care__image {
    margin-left: 110px;
  }
}

/* cashback.scss */
.cashback__wrapper {
  margin: 50px 0;
}
@media (min-width: 768px) {
  .cashback__wrapper {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1152px) {
  .cashback__wrapper {
    margin: 40px 0;
  }
}
@media (min-width: 1440px) {
  .cashback__wrapper {
    margin: 50px 0;
  }
}
@media (min-width: 768px) {
  .cashback__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 60%;
  }
}
.cashback__title {
  font-weight: 700;
  font-size: 30px;
}
@media (min-width: 1152px) {
  .cashback__title {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .cashback__title {
    font-size: 40px;
  }
}
.cashback__copy {
  margin-top: 10px;
}
.cashback__copy:first-of-type {
  margin-top: 20px;
}
@media (min-width: 1152px) {
  .cashback__copy {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .cashback__copy {
    font-size: 20px;
  }
  .cashback__copy:first-of-type {
    margin-top: 30px;
  }
}
.cashback__btn {
  position: relative;
  border: 1px #AAAAAA solid;
  border-radius: 30px;
  width: 100%;
  margin-top: 20px;
  padding: 14px 0;
  font: inherit;
  font-size: 16px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .cashback__btn {
    max-width: 225px;
  }
  .cashback__btn:hover {
    color: #fff;
  }
  .cashback__btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #333;
    transition: all 0.5s;
    transform: translateX(-110%);
  }
  .cashback__btn:hover::after {
    transition: all 0.5s;
    transform: translateX(0);
  }
}
.cashback__btn.dark:hover {
  color: #333;
}
.cashback__btn.dark:hover::after {
  background: #fff;
}
@media (min-width: 1152px) {
  .cashback__btn {
    max-width: 245px;
  }
}
@media (min-width: 1440px) {
  .cashback__btn {
    margin-top: 30px;
    max-width: 285px;
  }
}

/* clients.scss */
.clients__wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px 30px;
}
@media (min-width: 768px) {
  .clients__wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .clients__wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* _footer.scss*/
.footer {
  background: #484848;
  margin-top: 30px;
}
@media (min-width: 1152px) {
  .footer {
    margin-top: 40px;
  }
}
.footer__wrapper {
  color: #fff;
  padding: 30px 0;
}
@media (min-width: 1152px) {
  .footer__wrapper {
    padding: 40px 0;
  }
}
.footer__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 30px;
}
@media (min-width: 768px) {
  .footer__columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1152px) {
  .footer__columns {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 40px 0;
  }
}
.footer__list {
  margin-top: 20px;
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
}
.footer__item {
  margin-top: 10px;
}
.footer__item img {
  width: 40px;
  height: 40px;
}
.footer__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .footer__info {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.footer__copies {
  font-size: 12px;
}
@media (min-width: 768px) {
  .footer__copies {
    width: 80%;
    font-size: 14px;
  }
}
@media (min-width: 1152px) {
  .footer__copies {
    width: 85%;
    font-size: 16px;
  }
}
@media (min-width: 1152px) {
  .footer__copies {
    width: 70%;
    font-size: 16px;
  }
}
.footer__copy {
  margin-top: 10px;
}
.footer__copyright {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin-left: 30px;
    align-self: baseline;
  }
}

/* -modal.scss */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
  fill: #fff;
  transition: all 0.5s;
}
.modal.active {
  z-index: 4;
  background: #00000099;
}
.modal.active div {
  transition: all 0.5s;
  transform: translateY(0);
}
.modal__body {
  position: relative;
  max-width: 290px;
  padding: 30px 25px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  transition: all 0.5s;
  transform: translateY(-100vh);
}
.modal__close {
  position: absolute;
  top: -40px;
  right: 0;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #222222;
}
.modal__form {
  margin-top: 20px;
}
.modal__input {
  display: block;
  margin-top: 15px;
  padding-left: 5px;
  width: 100%;
  height: 26px;
  font-family: inherit;
  font-size: 16px;
  border-bottom: 1px solid #aaa;
}
.modal__input:first-of-type {
  margin-top: 0;
}
.modal__input::placeholder {
  color: #aaa;
}
.modal__select {
  position: relative;
  display: block;
  margin-top: 15px;
  height: 26px;
  border-bottom: 1px solid #aaa;
}
.modal__select::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #aaa;
}
.modal__select span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  font-size: 16px;
  color: #aaa;
  visibility: visible;
}
.modal__select.success {
  border-color: green;
}
.modal__select.success span {
  visibility: hidden;
}
.modal__select select {
  appearance: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.modal__select option {
  font-family: inherit;
  color: #000;
}
.modal__policy {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #222;
}
.modal__policy a {
  margin-left: 6px;
  text-decoration: underline;
}
.modal__btn {
  width: 100%;
  border: 1px solid #222222;
  border-radius: 30px;
  font-size: 16px;
  color: #222;
  margin-top: 20px;
  padding: 12px;
}
.modal__btn:disabled {
  opacity: 0.5;
}
.modal .error {
  border-bottom: 2px solid red;
}
.modal .success {
  border-bottom: 2px solid green;
}

/*# sourceMappingURL=style.css.map */
